<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{if .Title}}
        <title>{{.Title}}</title>
    {{else}}
        <title>Default</title>
    {{end}}
</head>
<body>
{{if .Name}}
    <h1>Hello {{.Name}}</h1>
{{else}}
    <h1>Hello</h1>
{{end}}
{{if ge .FinalValue 80}}
    <h1>Good</h1>
{{else if ge .FinalValue 60}}
    <h1>Nice Try</h1>
{{else}}
    <h1>Try Again</h1>
{{end}}
</body>
</html>